# Ignore files when creating a Release so we can control how we attach the assets
.gitattributes export-ignore
.gitignore export-ignore

# Exclude everything so that we can control release assets instead of making a single zip file
# with both Sans and Serif 
Sans export-ignore
Serif export-ignore
google-fonts export-ignore
*.sh export-ignore
